dist-ssr/
*.local

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
/Backend/out/
/Backend/target/
/Backend/.iws
/Backend/.iml
/Backend/.ipr

### VS Code ###
.vscode/
node_modules/
dist/

### Mac OS ###
.DS_Store


### 其他 ###
/Frontend/web-notes/build/
sql/backups/
