// 上传头像
.avatar-uploader {
  position: relative;
}

.avatar-uploader img {
  border: 1px solid #d6e2fb;
  box-sizing: border-box;
  border-radius: 50%;
}
.avatar-uploader::after {
  display: none;
  content: "修改图片";
  font-size: 12px;
  text-align: center;
  width: 100%;
  transform: scale(0.7);
  color: #999;
  position: absolute;
  bottom: -14px;
}

.avatar-uploader:hover,
.avatar-uploader:active {
  filter: grayscale(30%);
}

.avatar-uploader:hover::after,
.avatar-uploader:active::after {
  display: block;
}

// element-plus卡片
.ele-modal-body {
  margin-bottom: 1.5rem;
}
