// 工具图标
.Tools-item {
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    i {
        color: #999;
    }
}

.Tools-item:hover,
.Tools-item:active {
    background-color: #f3f3f3;
}

// 内边距
.GMargin {
    padding:0 12px;
    box-sizing: border-box;
}

// 模板内边距
.TMargin {
    padding:0 1rem;
    box-sizing: border-box;
}

// 卡片
.card{
    border: 1px solid #e3e2e4;
    border-radius: 16px;
    box-shadow: 0 1px 6px #0000000d;
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

// 空白页面
.blankPage{
    padding:1rem;
    box-sizing: border-box;
    margin-bottom: 3rem;
}


@media (max-width: 1200px) {
    .container {
        padding: 0 !important;
        width: 100% !important;
    }
}