.ThinKing-Editor-Box {

    .highlight {
        background-color: yellow !important;
    }

    // 拖拽光标
    .ThinKing-Dropcursor {
    }

    // 占位符提示
    // 为空时显示
    .ContentEmpty{
        p.is-editor-empty:first-child::before {
            color: #adb5bd;
            content: attr(data-placeholder);
            float: left;
            height: 0;
            pointer-events: none;
        }

        p.is-empty::before {
            color: #adb5bd;
            content: attr(data-placeholder);
            float: left;
            height: 0;
            pointer-events: none;
        }
    }
    // 获取焦点时
    .ProseMirror-focused {
        p.is-editor-empty:first-child::before {
            color: #adb5bd;
            content: attr(data-placeholder);
            float: left;
            height: 0;
            pointer-events: none;
        }

        p.is-empty::before {
            color: #adb5bd;
            content: attr(data-placeholder);
            float: left;
            height: 0;
            pointer-events: none;
        }
    }
}




.ThinKing-Editor {
    outline: none;
    min-height: 300px;
    padding-bottom: 150px;

    p {
        line-height: 28px;
        font-size: 16px;
        color: #333;
    }

    // 文本选中时的背景颜色
    ::selection {
        background: #ceeafe !important;
        color: #444 !important;
    }
    ::-webkit-selection {
        background: #ceeafe !important;
        color: #444 !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #333;
        padding: 20px 0 6px 0;
        box-sizing: border-box;
    }
    h1 {
        font-size: 30px;
        padding: 20px 0 6px 0;
    }
    h2 {
        font-size: 28px;
        padding: 18px 0 6px 0;
    }
    h3 {
        font-size: 24px;
        padding: 16px 0 6px 0;
    }
    h4 {
        font-size: 20px;
        padding: 12px 0 6px 0;
    }
    h5 {
        font-size: 18px;
        padding: 10px 0 6px 0;
    }
    h6 {
        font-size: 16px;
        padding: 8px 0 6px 0;
    }

    // 提及
    .mention {
        background-color: #f6f2ff;
        border-radius: 0.4rem;
        box-decoration-break: clone;
        color: #6a00f5;
        padding: 0.1rem 0.3rem;
    }

    // 标记为代码
    code {
        background-color: #e7e8ec;
        border-radius: 4px;
        color: #bc2525;
        font-size: 0.85rem;
        padding: 4px 10px;
        transform: scale(0.7);
    }

    // 链接
    a {
        color: #00a1d6;
        cursor: pointer;
        text-decoration: underline;

        &:hover {
            color: #00a1d6;
        }
    }

    // 引用
    blockquote {
        border-left: 3px solid #474ce3;
        background-color: #f0eeed;
        margin: 1.5rem 0;
        padding-left: 1rem;
    }

    // 符号列表
    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    // 代码
    pre {
        background: #2d2d2d;
        border-radius: 0.5rem;
        color: #fff;
        font-family: "JetBrainsMono", monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }

        /* Code styling */
        .hljs-comment,
        .hljs-quote {
            color: #616161;
        }

        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-tag,
        .hljs-name,
        .hljs-regexp,
        .hljs-link,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
            color: #f98181;
        }

        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
            color: #fbbc88;
        }

        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
            color: #b9f18d;
        }

        .hljs-title,
        .hljs-section {
            color: #faf594;
        }

        .hljs-keyword,
        .hljs-selector-tag {
            color: #70cff8;
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-strong {
            font-weight: 700;
        }
    }

    //   水平线
    hr {
        border: none;
        border-top: 1px solid #f0eeed;
        cursor: pointer;
        margin: 2rem 0;

        &.ProseMirror-selectednode {
            border-top: 1px solid #8b33ff;
        }
    }

    // 表格
    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            border: 1px solid #e7e5e3;
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            > * {
                margin-bottom: 0;
            }
        }

        th {
            background-color: #ebeae8;
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            background: #f5f4f3;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            background-color: #8b33ff;
            bottom: -2px;
            pointer-events: none;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }

    // 任务项目
    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    /* Task list specific styles */
    ul[data-type="taskList"] {
        list-style: none;
        margin-left: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;

            > label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
                user-select: none;
            }

            > div {
                flex: 1 1 auto;
            }
        }

        input[type="checkbox"] {
            cursor: pointer;
        }

        ul[data-type="taskList"] {
            margin: 0;
        }
    }
}
